.movieSearchBody{
    width: 100%;
}

.movieGallery{
    padding: 0px 32px;
}

.movieList{
    gap: 30px 12px;
    flex-wrap: wrap;
    margin: 25px 0px;
    display: inline-flex;
    justify-content: space-between;
}